/*----------*//*------ scrollbar ----*//*----------*/

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background: #BC3434;
}
::-webkit-scrollbar-thumb:hover{
    background: #b0abab;
}

/*----------*//*------ selection ----*//*----------*/

::selection {
    color: rgb(255, 255, 255);
    background-color: #BC3434;
/*    display: none;*/
/*    background-color: rgb(13, 202, 142*/
}
/*----------*//*------ navBar ----*//*----------*/

body{
    margin: 0;
    padding: 0;
    font-family: poppins;
    font-style: bold;
    overflow-x: hidden;
    
}

.navBar{
    position: relative;
    z-index: 10;
    background-color: #262626;
    height: 150px;
    width: 100%;
    box-shadow: 0px 3px 6px rgb(0 0 0 / 45%);
    border-bottom: 1px solid #912F2F;
    position: fixed;
    transition: 0.5s;
    
}



.navBar a{
    top: 110px;
    text-decoration: none;
    color: aliceblue;
    
    position: relative;
    left: 100px;
    margin-left: 30px;
    transition: 0.5s;
}

.navBar a:hover{
    color: #23527C;
}

.logo{
    position: absolute;
    z-index: 999;
    margin: 20px 30px;
    
    transition: 0.5s;
    position: fixed;
}
.logo img{
    width: 130px;
    transition: 0.5s;
}

.contact{
    position: absolute;
}

@media only screen and (max-width: 880px) {
    body{
        overflow-x: hidden;
    }
    

    .logo{
        margin: 10px 30px;
        transition: 0.5s;
    }
    .logo img{
        width: 100px;
        transition: 0.5s;
    }
    .navBar{
    height: 70px;
    position: relative;
    z-index: 10;
    background-color: #262626;
    width: 100%;
    box-shadow: 0px 3px 6px rgb(0 0 0 / 45%);
    border-bottom: 1px solid #912F2F;
    position: fixed;
    transition: 0.5s;
    
}
    .navBar.activeBar{
    height: 350px;
    position: relative;
    z-index: 10;
    background-color: #262626;
    width: 100%;
    box-shadow: 0px 3px 6px rgb(0 0 0 / 45%);
    border-bottom: 1px solid #912F2F;
    position: fixed;
        transition: 0.5s;
    
}
    .navBar a{
      display: none;
      padding: 10px;
/*      border-top: 1px solid #666565;*/
      left: 50px;
      transition: 0.5s;
    
}
  .navBar.activeBar a{
      display: block;
      padding: 10px;
/*      border-top: 1px solid #666565;*/
      left: 50px;
      transition: 0.5s;
    
}
    
    .menu-toggle{
        display: block;
        width: 40px;
        height: 40px;
        margin: 15px 30px;

        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color: #B3B0B0;
        position: relative;
        z-index: 99;
				
			}
			.menu-toggle:before{
                position: fixed;
				content: '\f0c9';
				font-family: fontAwesome;
				line-height: 40px;
			}
			.menu-toggle.activeBar:before{
				content: '\f00d';
                position: fixed;
			}
    
    
}
/*----------*//*------ btn scrollbar ----*//*----------*//*----------*/


.btnTop{
    opacity: 0;
    width: 60px;
    position: fixed;
    z-index: 9999;
    left: 1180px;
    bottom: 20px;
    transition: 0.5s;
    
}
.btnTop:hover{
    opacity: 1;
    transition: 0.5s;
    
}

.navBar .active{
    color: #23527C;
}


.barContact {
    width: 75%;
    height: 50px;
    background-color: #eee;
    position: absolute;
    right: 0;
    z-index: 999;
    margin: 0px;
    font-size: 14px;
    display: flex;
    
    position: fixed;

}



.pContact i{
    padding-left: 20px;
}
.pContact a{
    padding-left: 7px;
    text-decoration: none;
    color: #000;
}
.pContact a:hover{
    color: #234F75;
}

.lange a img{
    width: 30px;
}

.lange {
    margin: 10px 0;
    
}
.lange a{
/*    padding-right: 20px;*/
}
.lange a img{
    
    border-radius: 100px;
    
}
.divContact {
     margin: 0 10%;
    transition: 0.5s;
}
@media only screen and (max-width: 1010px) {
    .divContact{
         margin: 0 3%;
        transition: 0.5s;
    }
}

@media only screen and (max-width: 880px) {
    .barContact{
        display: none;
        transition: 0.5s;
    }
}





#google_translate_element {
    margin-top: 13px;
}
